* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card {
  background-color: hsla(40, 82%, 57%, 0.4);
  border-radius: 20px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  height: 500px;
  width: 400px;
  margin-left: -600px;
  margin-top: 30px;
}
.aboutme {
  background-color: hsla(206, 82%, 57%, 0.642);
  box-shadow: hsla(0, 0%, 0%, .4) 10px 10px 90px;
  border-radius: 20px;
  padding: 20px;
  height: 150px;
  width: 530px;
}
.about {
  height: 200px;
  width: 500px;
}
body {
  height: 100vh;
}
body {
  background: url('assets/pexels-jess-bailey-designs-743986.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}
.head, .content {
  width: 90%;
}
.head {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.name-headline{
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
}
img {
  width: 190px;
  height: 200px;
  border-radius: 4%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
}
.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}